{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>MyIOT :: {{ VERSION_NUMBER }} </title>
<h1>My Iot :: API</h1>
<h2>v{{ VERSION_NUMBER }}</h2>
<hr>
<h2> Realtime </h2>
<pre><a href="/sensors">sensors<a/></pre>
<h2> History</h2>
<pre><a href="/sensors/temperature">temperature<a/></pre>